[project]
name = "splitgill"
version = "1.2.2"
description = "Versioned search library"
readme = "README.md"
requires-python = ">=2.7,!=3.0.*,!=3.1.*"
license = { text = "MIT" }
authors = [
    { name = "Josh Humphries", email = "data@nhm.ac.uk" }
]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 2",
    "Programming Language :: Python :: 3",
]
dynamic = ["dependencies", "optional-dependencies"]

[project.urls]
repository = "https://github.com/NaturalHistoryMuseum/splitgill"
changelog = "https://github.com/NaturalHistoryMuseum/splitgill/blob/main/CHANGELOG.md"


[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"


[tool]
[tool.setuptools]
zip-safe = false

[tool.setuptools.packages.find]
exclude = ["tests", "docs"]

[tool.setuptools.dynamic]
dependencies = { file = ["requirements.txt"] }

[tool.setuptools.dynamic.optional-dependencies]
test = { file = ["tests/requirements.txt"] }

[tool.black]
line-length = 88
skip_string_normalization = true

[tool.pylint]
max-line-length = 88
disable = ["C0114", "R0903"]

[tool.docformatter]
wrap-summaries = 88
wrap-descriptions = 88
pre-summary-newline = true
make-summary-multi-line = true
